.coin-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.coin-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-input{
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    color: white;
    font-size: 24px;
}